@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    background-color: #383333;
}

.menu_box {
    border-radius: 10px;
    max-width: 1200px;
    width: 100%;
    padding: 0 25px;
    margin: 0 auto;
    margin: 10% 0 90% 0;
}

.label {
    display: flex;
    justify-content: space-around;
    background-color: #FF8228;
    padding: 5px;
    border-radius: 10px 10px 0 0;
}

.label input[type="radio"] {
    display: none;
}

.label label {
    flex: 1;
    text-align: center;
    padding: 5px;
    cursor: pointer;
    color: white;
    font-weight: bold;
}

.label label+label {
    border-left: 1px solid white;
}

.list_box {
    background-color: #FFFFFF;
    border: 2px solid #DCDCDC;
    border-top: none;
    border-radius: 0 0 10px 10px;
    overflow: hidden;
}

.label .tab_label_right {
    border-right: 1px solid white;
}

#tore_menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

#tore_menu li {
    padding: 15px;
    border-bottom: 1px solid #DCDCDC;
    text-align: center;
    font-size: 18px;
}

#viewToggleButton {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #DCDCDC;
    border: none;
    border-radius: 0 0 10px 10px;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
}

#tore_menu {
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 232px;
    overflow-y: auto;
}

.circle_button {
    width: 100px;
    height: 100px;
    background-color: #FF8228;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    margin: 0 auto;
}

.circle_button span {
    color: white;
    font-size: 40px;
    font-weight: bold;
}